.vscode
.DS_Store
allRegexCombinationsNoStarTest
allRegexCombinationsWithParenthesisTest
allRegexCombinationsWithStarTest
invalidRegexsTest
nestedParenthesesTest
sameTransitionCharTest
simpleTest
specialCharsTest
twoCharsTest
prog
allRegexCombinationsNoStarTest.dSYM
allRegexCombinationsWithParenthesisTest.dSYM
allRegexCombinationsWithStarTest.dSYM
invalidRegexsTest.dSYM
nestedParenthesesTest.dSYM
sameTransitionCharTest.dSYM
simpleTest.dSYM
specialCharsTest.dSYM
twoCharsTest.dSYM
prog.dSYM